body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Megatron';
  src: local('Megatroni'), url(./Component/Font/Megatron.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'), url(./Component/Font/Poppins-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: local('OpenSans-Bold'), url(./Component/Font/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: local('Montserrat-SemiBold'), url(./Component/Font/Montserrat-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: local('OpenSans-Semibold'), url(./Component/Font/OpenSans-Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: local('Poppins-SemiBold'), url(./Component/Font/Poppins-SemiBold.ttf) format('truetype');
}